vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jul 2016 12:16:43 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|SEPCNET\\wuxx
vti_modifiedby:SR|SEPCNET\\wuxx
vti_timecreated:TR|23 Nov 2015 08:48:24 -0000
vti_backlinkinfo:VX|content/keynote.html content/past.html content/submission.html content/dates.html content/orgcommittee-ori.html content/orgcommittee.html content/thu.html content/local.html content/past-ori.html content/program.html content/registration.html content/venue.html index.html content/bestpaper.html content/cfp.html content/contact.html content/sponsors.html
vti_syncwith_www1.se.cuhk.edu.hk\:22/%2fuac/spc/proj/phdforum/public_html:TX|20 Jul 2016 12:16:43 -0000
vti_syncofs_www1.se.cuhk.edu.hk\:22/%2fuac/spc/proj/phdforum/public_html:TW|20 Jul 2016 13:41:32 -0000
vti_cacheddtm:TX|20 Jul 2016 12:16:43 -0000
vti_filesize:IR|1717
vti_cachedlinkinfo:VX|S|../images/background_image1.png S|../images/index.png
vti_cachedsvcrellinks:VX|FSUS|images/background_image1.png FSUS|images/index.png
